@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

#container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center;
    align-items: center;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Ensure the logo is above the stars */
    position: relative; /* Needed for z-index to take effect */
}

#logo-wrapper {
    background-color: #000;
    padding: 20px;
    position: relative; /* Needed for the stamp to be positioned relative to the logo */
}

#logo {
    width: 100%;
    max-width: 1000px;
    display: block;
    margin: auto;
}

#stamp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://raw.githubusercontent.com/codingwithshawnyt/Raysume/main/Pictures/confidential-stamp-4.png');
    background-repeat: no-repeat;
    background-position: 50% 50%; /* Center the stamp */
    background-size: contain; /* Ensure the entire image is visible */
    opacity: 1; /* Increase opacity to make the stamp fully visible */
    filter: contrast(300%) brightness(200%); /* Increase contrast and brightness */
}

#ascii-skull {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: pre;
    color: transparent;
    background: transparent; /* Initial background is transparent */
    padding: 20px;
}

#stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure the stars are below the logo */
}

.star {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    animation: twinkle 1s infinite alternate;
}

@keyframes twinkle {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#enter-button {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    color: #fff;
    background-color: #000;
    border: 2px solid #fff;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 3; /* Add this line */
    box-shadow: 0 0 10px #fff; /* Add a white glow around the button */
}

#enter-button:hover {
    background-color: #fff;
    color: #000;
}

#enter-button:active {
    transform: scale(0.95); /* Make the button slightly smaller when pressed */
    box-shadow: 0 0 20px #fff; /* Increase the glow when pressed */
}