.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loading-screen-content {
    text-align: center;
  }
  
  .loading-text {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px; /* roughly an inch on most screens */
  }
  
  .progress-bar {
    width: 80%;  /* Make the progress bar occupy 80% of the width of the screen */
    height: 10px;
    border: 1px solid #fff;
    margin: 0 auto;  /* Center the progress bar */
  }
  
  .progress {
    height: 100%;
    background-color: #fff;
  }